*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    background:linear-gradient(180deg, #fbe9e7 0%,#c5cae9, white);
    height:100vh;
    width: 100vw;
    overflow: hidden;
   
}
.mainContainer{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position:center;
    z-index: 1;
    
    
}

.mainContainer .right-section{
    height:100vh;
    width: 80%;
    margin-top: 20rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    
}

.mainContainer .right-section .div-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    margin-top: 5rem;
}


.div-image{
    width:30vw;
    height:100vh;
    z-index: 1;
}

.div-image img{
    width: 100%;
    height: 100%;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'GlacialIndifferenceRegular';
    color:rgb(104, 99, 99);
    font-size:1.5rem;
    font-weight: normal;
}

footer{
    display: flex;
    flex-direction: column;
    flex: auto;
    align-items: center;
    justify-content: center;
    
    
}


/* ////////////////shape devider ////////////////////*/

.custom-shape-divider-top-1629489666 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1629489666 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 147px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1629489666 .shape-fill {
    fill: #FFFFFF;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-top-1629489666 svg {
        width: calc(100% + 1.3px);
        height: 272px;
    }
}